@charset "utf-8";

.leaflet-tile-container { /* 地図の色味変更 CSS3 filter */
    x-filter: sepia(100%) brightness(95%); /* セピア */
    x-filter: grayscale(100%) brightness(110%); /* 明るめグレースケール */
    filter: hue-rotate(-10deg) saturate(70%) brightness(104%); /* いい感じの色？ */
}
.leaflet-marker-pane > a {
	word-break: break-all;
}
a {
    color: #444 !important;
}
